.saga-kay {
    margin-left: 10px;
}

.sola-kay {
    margin-right: 10px;
}

.pembe-baslik {
    color: crimson;
}

.mor-baslik {
    color: darkorchid;
}

h3 {
    color: #b08e20;
}

article {
    text-align: left;
}

body {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu;
}

ul {
    display: inline-block;
    text-align: left;
}

ol {
    display: inline-block;
    text-align: center;
}
